*{
  margin:0px;
}
body{
  margin: 0 auto;
  width: 800px;
}
button{
  background-color: green;
  border:transparent;
  color:white;
  box-shadow: 3px 3px 1px 1px black;
}
img{
  border: 1px solid black;
  position: relative;
}
